# Untracked files in MPLABX projects
/**/.generated_files
/**/build/*
/**/debug/*
/**/dist/*
/**/queuelogs/*
/**/nbproject/*
!/**/nbproject/*.xml
/**/[Ff]ree/production/*
/**/[Pp]ro/production/*

# Uncomment these to include hex/elf files
#!/**/[Ff]ree/production/*.hex
#!/**/[Ff]ree/production/*.elf
#!/**/[Pp]ro/production/*.hex
#!/**/[Pp]ro/production/*.elf

# office temp files
/**/~$*.*x

# backup files
/**/*.bak


